<mat-grid-list cols="{{cols}}" rowHeight="600px" gutterSize="15px" class="grid-layout">
  <mat-grid-tile *ngFor="let destination of destinations;">
    <mat-card>
      <img id="card-image" mat-card-image src="{{destination?.imageUrl}}" alt="destination photo">
      <mat-card-content>
        <mat-card-title matTooltip="{{destination?.name}}">{{destination?.name }}</mat-card-title>
        <mat-card-subtitle>{{destination?.numDays}} Days {{destination?.numNights}} Nights</mat-card-subtitle>
      </mat-card-content>
      <mat-card-actions style="margin-left: 100px;">
        <button mat-flat-button color="primary" [routerLink]="['/destination', destination.destinationId]">
          View & Book
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
