<mat-toolbar color="secondary" class="app-header">
  <span class="nav-tool-items" *ngIf="router.url === '/login'">
    <button mat-button routerLink="login" routerLinkActive="active">LogIn</button>
    <a mat-button routerLink="signup" routerLinkActive="active">SignUp</a>
  </span>
  <span style="text-align: center;" *ngIf="isAdmin" > Admin Portal </span>
  <span class="nav-tool-items" fxFlex fxLayoutAlign="flex-end center" *ngIf="(router.url !== '/login' && router.url !== '/signup')">
    <button mat-button routerLink="home" routerLinkActive="active">Home</button>
    <div *ngIf="!isAdmin">
      <button mat-button routerLink="destinations-list" routerLinkActive="active">Destinations</button>
      <button mat-button routerLink="bookings" routerLinkActive="active">My Bookings</button>
      <button mat-button routerLink="contact" routerLinkActive="active">Contact Us</button>
      <button mat-button routerLink="profile" routerLinkActive="active">My Profile</button>
    </div>
    <div *ngIf="isAdmin">
      <button mat-button routerLink="all-destionations" routerLinkActive="active">Destinations List</button>
      <button mat-button routerLink="add-destionation" routerLinkActive="active">Add Destination</button>
      <button mat-button routerLink="all-bookings" routerLinkActive="active">All Bookings</button>
      <button mat-button routerLink="users" routerLinkActive="active">Users</button>
      <button mat-button routerLink="queries" routerLinkActive="active">Queries</button>
    </div>

    <button mat-button routerLinkActive="active" (click)="logoutUser()">Logout</button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
