.product-card {
  max-width: 400px;
  align-items: center;
}

button {
  margin: 5px !important;
}

mat-card {
  margin: 0 1em 2em 1em;
  margin-top: 90px;
  border: 1px solid rgb(23, 11, 11) !important;
}

img {
  border-bottom: 1px solid rgb(23, 17, 17);
}
