<div class="table1">
  <h1 id="order-id">My Bookings </h1>
  <div *ngIf="bookings.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Place</th>
          <th scope="col">Country</th>
          <th scope="col">Price</th>
          <th scope="col">Date</th>
          <th scope="col">Travelling Mode</th>
          <th scope="col">Food</th>
          <th scope="col"> Cancel </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of bookings ">
          <td>{{data.placeName}}</td>
          <td>{{data.placeCountry}}</td>
          <td>{{data.price | currency:'EUR' }}</td>
          <td>{{data.date}}</td>
          <td>{{data.mode}}</td>
          <td>{{data.food}}</td>
          <td><a (click)="cancel(data)" class="btn btn-primary btn-lg w-15">Cancel</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="bookings.length == 0">
    <h3 style="text-align: center;"> No Bookings yet </h3>
  </div>
</div>
